<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSLocalNetworkUsageDescription</key>
  <string>주변의 운전자 또는 신호수와 연결하여 통신하기 위해 로컬 네트워크 접근 권한이 필요합니다.</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_lethimcook._tcp</string>
  </array>
  <key>NSNearbyInteractionUsageDescription</key>
  <string>상대 기기의 방향과 거리를 측정하여 화면에 표시하기 위해 사용합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
  </array>
</dict>
</plist>
